[submodule "lib/ezc-graph"]
	path = lib/ezc-graph
	url = git://github.com/naderman/ezc-graph.git
[submodule "lib/ezc-base"]
	path = lib/ezc-base
	url = git://github.com/naderman/ezc-base.git
[submodule "lib/ezc-database"]
	path = lib/ezc-database
	url = git://github.com/naderman/ezc-database.git
[submodule "lib/ezc-graph-database-tiein"]
	path = lib/ezc-graph-database-tiein
	url = git://github.com/naderman/ezc-graph-database-tiein
